In [59]:
import pandas as pd

#Reading Data

In [60]:
df = pd.read_csv('data.csv')

In [61]:
df.head()

   fever  bodypain  age  RunnyNose  DiffBreath  Infection
0     99         0   88          1           1           1
1     99         0   20          0          -1           1
2    103         1   25          1          -1           0
3    101         1   48          1           1           1
4    101         0   92          1           1           1

In [62]:
df.tail()

     fever  bodypain  age  RunnyNose  DiffBreath  Infection
104     98         1   15          1           1           1
105     98         0   24          0          -1           1
106    103         0   76          1           0           1
107     98         0   78          1          -1           1
108    104         0   85          0           0           1

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109 entries, 0 to 108
Data columns (total 6 columns):
fever         109 non-null int64
bodypain      109 non-null int64
age           109 non-null int64
RunnyNose     109 non-null int64
DiffBreath    109 non-null int64
Infection     109 non-null int64
dtypes: int64(6)
memory usage: 5.2 KB

In [64]:
df['fever'].value_counts()

103    22
102    17
100    17
104    16
98     13
101    12
99     12
Name: fever, dtype: int64

In [65]:
df['DiffBreath'].value_counts()

-1    41
 1    39
 0    29
Name: DiffBreath, dtype: int64

In [66]:
df.describe()

            fever    bodypain         age   RunnyNose  DiffBreath  Infection
count  109.000000  109.000000  109.000000  109.000000  109.000000  109.000000
mean   101.266055    0.504587   51.119266    0.577982   -0.018349    0.541284
std      1.979722    0.502288   29.998372    0.496163    0.860466    0.500594
min     98.000000    0.000000    1.000000    0.000000   -1.000000    0.000000
25%    100.000000    0.000000   25.000000    0.000000   -1.000000    0.000000
50%    102.000000    1.000000   52.000000    1.000000    0.000000    1.000000
75%    103.000000    1.000000   78.000000    1.000000    1.000000    1.000000
max    104.000000    1.000000  100.000000    1.000000    1.000000    1.000000

In [67]:
## Train Test Splitting

In [68]:
import numpy as np

In [69]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data)*ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    ##Splitting the data
    return data.iloc[train_indices],data.iloc[test_indices]

In [70]:
np.random.permutation(7)

array([6, 3, 5, 1, 4, 2, 0])

In [71]:
train,test = data_split(df,0.2)

In [72]:
train

     fever  bodypain  age  RunnyNose  DiffBreath  Infection
36     103         1   86          1          -1           1
65     103         0   61          0          -1           0
26     104         0   75          1          -1           1
22     103         1   99          1          -1           1
31     104         1   20          0           0           1
..     ...       ...  ...        ...         ...         ...
71     102         0   38          1           1           0
14     102         0   68          0           0           0
92     100         0   13          0          -1           1
51     102         0   43          1           0           1
102    101         1   70          0           1           0

[88 rows x 6 columns]

In [73]:
X_train = train[['fever','bodypain','age','RunnyNose','DiffBreath']].to_numpy()
X_test = test[['fever','bodypain','age','RunnyNose','DiffBreath']].to_numpy()

In [74]:
X_test

array([[ 98,   1,  90,   0,   1],
       [ 98,   1,  39,   0,   0],
       [101,   0,  92,   1,   1],
       [103,   1,  32,   1,  -1],
       [ 98,   0,  18,   1,  -1],
       [101,   0,  95,   1,  -1],
       [100,   0,  69,   1,   1],
       [104,   1,  67,   1,   1],
       [104,   1,  53,   0,   1],
       [100,   1,  69,   0,  -1],
       [103,   0,  33,   0,   1],
       [102,   0,   5,   1,   0],
       [ 99,   0,  88,   1,   1],
       [100,   1,  94,   1,   1],
       [102,   0,  84,   1,  -1],
       [101,   1,  95,   0,   1],
       [ 98,   0,  78,   0,   1],
       [ 98,   0,   8,   1,  -1],
       [ 98,   0,  78,   1,  -1],
       [101,   1,  25,   0,   0],
       [100,   0,  33,   1,   1]], dtype=int64)

In [84]:
from sklearn.linear_model import LogisticRegression

In [85]:
clf = LogisticRegression()
clf.fit(X_train,Y_train)

E:\anaconda\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
E:\anaconda\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
E:\anaconda\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [108]:
inputFeatures = [101,1,86,0,1]
infProb = clf.predict_proba([inputFeatures])[0][1]

In [109]:
infProb

2.5131798913988928e-14